plots/*
corpus/spanish_books/*
corpus/tmp/*
flm_models/*.gz
flm_models/*.factored*
train_all_models.sh
*.log
*.pyc
venv/
*.ignore
corpus/factored_corpus_WGNCPL.txt
corpus/corpus_cleaned.txt
corpus/corpus_cleaned_normalized.txt
corpus/vocabulary.txt
